In [44]:
import pandas as pd
import numpy as np
lottery=[23,43,54,35,23]
pd.Series(lottery)

0    23
1    43
2    54
3    35
4    23
dtype: int64

In [9]:
ice_creme=["chocolate","vanila","strawberry"]
pd.Series(ice_creme)

0     chocolate
1        vanila
2    strawberry
dtype: object

In [17]:
my_company_emplo = {"rahul" : "salay_detail_6k",
                     "mahesh":"salay_detail_5k",
                     "sam":"salay detail_7k"}
pd.Series(my_company_emplo)

rahul     salay_detail_6k
mahesh    salay_detail_5k
sam       salay detail_7k
dtype: object

In [26]:
about_me =["handsome","charming","brillent","humble"]
s=pd.Series(about_me)
s

0    handsome
1    charming
2    brillent
3      humble
dtype: object

In [27]:
s.values

array(['handsome', 'charming', 'brillent', 'humble'], dtype=object)

In [28]:
s.dtype

dtype('O')

In [29]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [40]:
price=[2.33,4.55,3.55]
s=pd.Series(price)
s

0    2.33
1    4.55
2    3.55
dtype: float64

In [41]:
s.mean()

3.4766666666666666

In [42]:
s.sum()

10.43

In [43]:
s.product()

37.635324999999995